/* -----------------------------------------
   Backend Styles
----------------------------------------- */
header {
	z-index: 100;
}

.popup-message {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	top: -200px;
	z-index: 1;
	margin-top: 0px;
	margin-bottom: -40px;
	text-align: center;
	padding: 10px 0px 15px 0px;
	font-size: 1.2em;
	letter-spacing: 1px;
	i {
		font-size: 1.2em;
		margin-right: 20px;
	}

	a {
		padding-left: 40px;
		color: white;
		font-style: italic;
		font-size: 0.7em;
	}
}

.popup-message.active {
	// Problem mit Transition bei mittels JS vergebener active-classe
	// Test mit :hover / top: 50
	z-index: 1;
	opacity: 1;
	top: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.main-section {
	padding: 50px 20px 0px 40px;
	margin: 0px auto;
	z-index: 100;
}

header.show-for-small-only-up {
	margin: 0px auto; 
	text-align: center;
	background-color: $secondary-color;
	border-bottom: 5px solid $primary-color;
}

header.show-for-large-up {
	margin-bottom: -6px;
	
}

.icon-bar {
	position: relative;
	z-index: 50;
	border-bottom: 5px solid $primary-color;

	a label {
		padding-top: 5px;
		font-size: 1em;
	}	

	a.active {
		background-color: $primary-color;
	}
	a:hover {

	}
}

.tab-bar {
	border-bottom: 5px solid $primary-color;
	background-color: $secondary-color;
	height: 50px;

	h1 {
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.joyride-content-wrapper {
	p {
		color: white;
		padding: 10px 0px;
		font-size: 1em;
		font-weight: 300;
	}

	h4 {
		font-weight: 300;
	}
}

.be-footer {
	position: relative;
	left: 0;
	height: 10px;
	width: 100%;
	padding: 50px 0px;
	margin: 0;
	text-align: center;
	opacity: 0.7;
	font-size: 0.9em;
	opacity: 0.8;

	.love {
		opacity: 0.5;
		padding-bottom: 20px;
	}

	ul {
		li {
			display: inline;
			padding-right: 20px;

			i {
				font-size: 1.5em;
			}
		}
	}
}

.counter-area-2 {
	.row {
		max-width: 350px;
	}
}

.counter-area-3 {
	.row {
		max-width: 500px;
	}
}

.counter-area-6 {
	.row {
		max-width: 900px;
	}
}

.counter {
	width: 120px;
	padding: 15px;
	font-size: 0.9em;
	margin-left: -3px;

	.counter-value {
		display:inline-block;
		color: white;
		font-size: 1.35em;
		font-weight: 500;
		padding-bottom: 7px;
	}

	i {
		padding-bottom: 7px;
		font-size: 1.7em;
	}

}


/* -----------------------------------------
   Backend Styles - Dashboard
----------------------------------------- */

#welcome-message {
	border-left: 5px solid $primary-color;
	margin: 0px auto;
	max-width: 600px;
}

/* -----------------------------------------
   Backend Styles - Profile
----------------------------------------- */

#profile-progress {
	padding-top: 0px;
	max-width: 400px;
	margin: 0px auto;
	text-align: center;
}

.progress {
	margin-top: 10px;
	border: 1px solid $primary-color;
}

#profile-navigation {
	margin-left: -30px;
	dd {
		width: 80px;
		margin: 0px auto;
	}
}

.icon-submenu {
	.tabs-content {
		h1 {
			font-size: 2.2em;
			line-height: 1px;
			padding-bottom: 40px;
			color: $primary-color;
			font-weight: 300;
		}

		.content {
			margin-left: -30px;	
			margin-top: -30px;
		}
	}
}

#education-list {
	td {
		line-height: 3em;
	}
}

.content {
	.reference-item {
		height: 268px;
	}
}

/* -----------------------------------------
   Backend Styles - Projekte
----------------------------------------- */

.view-switch {
	font-size: 1.7em;

	a {
		padding: 10px;
		opacity: 0.6;
	}

	a.active {
		color: $primary-color;
	}
}

#boxed-style {
	.project {
		margin-bottom: 50px;
		
		.project-name {
			background-color: $primary-color;

			h2 {
				color: white;
				font-size: 1.4em;
				text-align: center;
				padding: 5px;
				margin: 0px;
			}
		}

		.closed-header {
			background-color: $lightgrey;
			opacity: 0.7;
		}	

		.project-content {
			background-color: white;
			padding: 20px;
			min-height: 110px;
		}

		.closed-content {
			color: $lightgrey;
			opacity: 0.7;
		}	

		.project-actions {
			border-top: 5px solid $primary-color;

			.button-group {
				li {
					margin-left: 0px;
					margin-right: -4px;

					.button {
						padding: 10px;
						font-size: 0.8em;
					}
				}
			}	
		}

		.closed-footer {
			border-top: 5px solid $lightgrey;
			opacity: 0.6;
		}	
	}
}

/* -----------------------------------------
   Backend Styles - Application
----------------------------------------- */

.final-application-price, .final-application-effort  {
	display: block;
	font-size: 20px;
	color: $primary-color;
	height: 60px;
	width: 80px;
	text-align: center;
}


input.application-price:focus {
	padding-top: 20px;
	text-align: center;
}

.application-price::after {
	content:"-";
}

.application-info {
	border-color: $lightgrey;

	td {
		color: $lightgrey;
	}

}

h2.application-info {
	color: $lightgrey;
}

.application-summary tr>td:first-child {
	font-weight: bold;
}

span.section-sum-money {
	padding-top: 30px;
	display: block;
	padding-right: 20px;
	text-align: right;
	color: $lightgrey;
	font-size: 1.6em;
}

span.section-sum-money::after {
	content:" €";
}

span.section-sum-time {
	@extend .section-sum-money;
	padding: 20px;
	font-size: 1.1em;
}

span.section-sum-time::after {
	content:" Stunden";
}

td.application-table-heading {
	font-weight: bold;
	padding-bottom: 50px;
	font-size: 1em;
	text-transform: uppercase;
}

.application-final-result {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	font-size: 1.1em;

	margin: 0px;
	
	.total-result-meta {
		height: 20px;
	}

	span.counter-value {
		font-size: 2em;
		font-weight: bold;
	}

	span.counter-value::after,  {
		content:" €";
	}

	span.total-effort, span.average-rate, span.mwst-part {
		font-size: 1.1em;
		color: white;
	}

	span.average-rate::before,  {
		content:" (Ø ";
	}

	span.average-rate::after,  {
		content:" € / Stunde)";
}

span.total-effort::after,  {
	content:" Stunden";
}	
}

.sticky-application-form {
	z-index: 1000;
	padding: 0px;
	border-top: 5px solid $primary-color;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0;	
	background-color: $secondary-color;

	@media only screen and (max-width: 60em) { 
		position: relative;
	}

	.columns {
		padding: 0px;
	}

	textarea, textarea:focus {
		padding: 20px 30px 20px 30px;
		margin: 0px;
		max-height: 135px;
		border: 0px;
		background: transparent;
		overflow: auto;
		background: white;
	}
}

.defaultRateContainer {
	input {
		max-width: 100px;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
	}
}

.applicationsettings {
	height: auto;
	padding: 15px 0px 0px 0px;
	color: white;
	background-color: $secondary-color;
	color: white;

	input, input:focus {
		margin: auto;
		width: 70px;
		background: $secondary-color;
		color: white;
		border-bottom: 2px solid white;
		text-align: center;
	}

	input:focus {
		border-bottom: 2px solid $primary-color;
	}

	.columns {
		background-color: $secondary-color;
		padding: 0;
	}

	.button {
		margin-top: 10px;
		width: 50%;
		font-size: 0.8em;
		padding: 8px;
		text-transform: lowercase;
	}

	.method-change-buttons {
		i {
			font-size: 1.0em;
			padding: 20px 7px 0px 7px;
		}

		a {
			color: white;
			opacity: 0.8;
		}

		a.active, a:hover {
			color: $primary-color;
		}
	}
}

input.error, input.error:focus {
	color: white;
	border-color: red;
	background:red;
}
/* -----------------------------------------
   Notification Styles
----------------------------------------- */
.notification-area {
	max-width: 800px;
	margin: auto;

	tr.success {
		border-left: 8px solid $green;
	}

	tr.info {
		border-left: 8px solid $primary-color;
	}
	tr.warning {
		border-left: 8px solid $red;
	}

	td.notification-action {
		a {
			color: $lightgrey;
		}

		a:hover {
			color: $primary-color;
		}
		
	}
}
