$primary-color:#32aebd; /* CYAN */
$secondary-color:#293c4e; /* BLUE */
$bg-color:#f7f7f7; /* GREY */
$orange:#ff6c60;
$green:#37d074;
$red:#e85458;
$yellow: #e8cb59;
$darkgrey:#565656;
$lightgrey:#afafaf;
$font-family : Lato;
$freestyle-font: 'Shadows Into Light Two';
$font-weight : 400;
$em-base : 17 !default;