$primary-color:#32aebd; /* CYAN r(50)g(174)b(189) */
$secondary-color:#293c4e; /* BLUE r(41)g(60)b(78) */
$orange:#ff6c60;/* r(255)g(108)b(96) */
$bg-color:#f7f7f7; /* GREY */
$green:#37d074;
$red:#e85458;
$yellow: #e8cb59;
$darkgrey:#565656;
$lightgrey:#afafaf;
$font-family : Lato;
$freestyle-font: 'Shadows Into Light Two';
$font-weight : 400;
$em-base : 17 !default;