<div class="main-section">


  <div class="row padding-bottom">

    <table>
      <tr>
        <th width="160px"><i class="fa fa-pencil fa-fw"></i></th>
        <th width="160px"><i class="fa fa-user fa-fw"></i></th>
        <th width="100px"><i class="fa fa-globe fa-fw"></i></th>
        <th width="50px"><i class="fa fa-compass fa-fw"></i></th>
        <th width="50px"><i class="fa fa-legal fa-fw"></i></th>
        <th width="100px"><i class="fa fa-euro fa-fw"></i></th>
        <th width="80px"><i class="fa fa-heart fa-fw"></i></th>
        
      </tr>
      
      <tr ng-repeat="el in data" ng-click="send(el)" class="clickable">
        <td>{{el.briefing_id}}</td>
        <td>{{el.full_name}}</td>
        <td>{{el.website}}</td>
        <td>{{el.country}}</td>
        <td>{{el.numberReferences}}</td>
        <td>{{el.estimated_price}}</td>
        <td>{{el.status}}</td>
        <!-- <td>{{el.expire_at}}</td>   -->
        <!-- <td>
          <span class="label grey-bg">{{el.status}}</span>
        </td> -->
    </tr>

    
  </table>

  <br class="padding-top"</br>
  <ul class="pagination" role="menubar" aria-label="Pagination">
    <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; zurück</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">weiter &raquo;</a></li>
  </ul>

</div>

  <div class="counter-area-2">
    <div class="row text-center">
      <div class="medium-6 columns">
        <div class="label green-bg counter">
          <i class="fa fa-thumbs-up fa-fw"></i><br /><span class="counter-value">4</span><br />4500 €
        </div>
      </div>
      <div class="medium-6 columns">
        <div class="label orange-bg counter">
          <i class="fa fa-thumbs-down fa-fw"></i><br /><span class="counter-value">4</span><br />4500 €
        </div>
      </div>
    </div>
  </div>
</div> 