<div class="main-section">
  <h1 class="text-center padding-bottom">Bewerbung einreichen</h1>
  <div class="row application-summary padding-top">
   <div class="large-3 columns">
     <h2 class="application-info">Info</h2>
   </div>
   <div class="large-9 columns table-border-left application-info">

    <table>
      <tr>
        <td width="250">Ausschreibungs-ID</td>
        <td ng-bind="meta.briefing_id"></td>
      </tr>
      <tr>
        <td>Status</td>
        <td ng-bind="meta.status"></td>
      </tr>
      <tr>
        <td>Startzeit </td>
        <td ng-bind="meta.created_at"></td>
      </tr>
      <tr>
        <td>Endzeit </td>
        <td ng-bind="meta.expire_at"></td>
      </tr>
      <tr>
        <td>Aufwandsindex </td>
        <td ng-bind="meta.effort"></td>
      </tr>
    </table>
  </div>

  <div class="large-3 columns">
    <h2>Kunde</h2>
  </div>
  <div class="large-9 columns table-border-left">
    <table>
      <tr>
        <td>Unternehmen </td>
        <td ng-bind="meta.general_briefing.general.firma"></td>
      </tr>
      <tr>
        <td>Website</td>
        <td ng-bind="meta.general_briefing.general.website"></td>
      </tr>
      <tr>
        <td>Land</td>
        <td ng-bind="meta.country"></td>
      </tr>
      <tr>
        <td>Ort</td>
        <td ng-bind="meta.state"></td>
      </tr>
      <tr>
        <td>Beschreibung</td>
        <td ng-bind="meta.general_briefing.general.description"></td>
      </tr>
      <tr>
        <td>Branche</td>
        <td ng-bind="meta.general_briefing.general.branche"></td>
      </tr>
      <tr>
        <td>Mitarbeiter</td>
        <td ng-bind="meta.general_briefing.general.employees"></td>
      </tr>
    </table>
  </div>

  <div class="large-3 columns">
    <h2>Stil</h2>
  </div>
  <div class="large-9 columns table-border-left">
    <table>
      <tr>
        <td width="250">Eigenschaften</td>
        <td ng-bind="meta.general_briefing.design.characteristics"></td>
      </tr>

      <tr>
        <td width="250">Concept</td>
        <td ng-bind="meta.general_briefing.design.concept"></td>
      </tr>

      <tr>
        <td>Positive Referenzen</td>
        <td ng-bind="meta.general_briefing.design.positiveReference"></td>
      </tr>
      <tr>
        <td>Negative Referenzen</td>
        <td ng-bind="meta.general_briefing.design.negativeReference"></td>
      </tr>
    </table>
  </div>

</div>
</div>
<div class="form-step dark-bg primary-full-border">
  <h2>Anforderungen</h2>
</div>
<div class="main-section">
  <div ng-repeat="el in data" class="row briefing-summary">
    <br class="end">

      <div class="large-3 columns">
      <h2>{{el.name}}</h2>
      <span ng-bind="el.cost" class="section-sum-money"></span><span ng-bind="el.time" class="section-sum-time"></span>
    </div>
    <div class="briefing-section large-9 columns table-border-left">
      <table calculator-value>
        
        <tr ng-repeat="(key, value) in el.data">
          <td width="30%" style="text-transform: capitalize;">{{key}}</td>
          <td width="49%">{{value}}</td>
          <td width="21%">
            <input type="text" ng-init="el.subTime[$index] = 0" ng-model="el.subTime[$index]" ng-change="process()"  class="left effort" >
            <input ng-init="el.subCost[$index] = 50" ng-model="el.subCost[$index]" ng-change="process()" type="text" class="right rate" >
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>

<div class="sticky-application-form">
  <div class="large-3 columns">
    <div class="applicationsettings text-center">
      <div id="settings-time">
        <div class="small-4 columns">€ Basissatz<input type="text"  ng-model="rate"  class="defaultRate" placeholder="Stundensatz"></div>
        <div class="small-4 columns">% Rabatt<input type="text"  name="discount" ng-model = "discount" placeholder=""></div>
        <div class="small-4 columns">% Steuer<input type="text" name="mwst" ng-model = "tax"  placeholder=""></div>
      </div>
      <div id="settings-pauschal" class="hide">
        <div class="small-6 columns">€ Kosten<input type="text" name="pauschal-price" value="0" placeholder="Stundensatz"></div>
        <div class="small-6 columns">% Steuer<input type="text" name="mwst2" value="0" placeholder=""></div>
      </div>

      <div class="method-change-buttons">
        <a href id="link-time" class="active"><i class="fa fa-clock-o"></i></a>
        <a href id="link-pauschal"><i class="fa fa-legal"></i></a>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <textarea type="text" ng-model="comment" id="t_application" placeholder="Ich möchte mich gerne für diesen Auftrag bewerben, weil..." rows="5" name="t_application" ></textarea>
  </div>
  <div class="large-3 columns">
    <div class="label primary-bg counter application-final-result">
      <span ng-bind="price" class="counter-value">0</span> (inkl. <span ng-bind="msw" class="mwst-part"></span> € MwSt.)
      
      <div class="total-calculatet">
        <span  ng-bind="totalTime" class="total-effort"></span> 
        <span ng-bind = "pricePerHour" class="average-rate"></span>
      </div>
      
      <div class="total-pauschal hide">Pauschalpreis</div>

    </div>
    <a class="button green-bg expand big" data-reveal-id="sendApplication"><i class="fa fa-check"></i> Absenden</a>
  </div>
</div>

<div id="sendApplication" class="reveal-modal tiny" data-reveal>
  <h2>Bewerbung absenden</h2>
  <p class="lead">Kosten: <strong><span ng-bind="price" class="counter-value"></span></strong> €</p>
  <ul>
    <li>
      Nach dem Absenden kann der Auftraggeber dein komplettes Profil einsehen und die Bewerbung nicht mehr geändert werden (lediglich gänzlich zurückgezogen). Aktualisierungen des Profils hingegen sind jederzeit möglich.
    </li>
    <li>Die Kalkulation ist nicht transparent. Der Kunde sieht lediglich den finalen Preis</li>
  </ul>
  <a href ng-click="send()" class="button small green-bg" data-reveal-id="sendApplication">
    <i class="fa fa-check"></i> Absenden
  </a>
  <a href class="button small grey-bg right" data-reveal-id="sendApplication"><i class="fa fa-cancel"></i> zurück</a>
  <a class="close-reveal-modal">&#215;</a>
</div>